/* GLOBAL STYLES */
:root {
    --vdkblue: hsl(230, 29%, 20%);
    --dkgrayblue: hsl(230, 11%, 40%);
    --grayblue: hsl(231, 7%, 65%);
    --ltgrayblue: hsl(207, 33%, 95%);
    --red: #ff5d5e;
    --redhover: #ff8584;
}

html {
    box-sizing: border-box;
    font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Barlow Condensed', sans-serif;
    color: var(--vdkblue);
}

body {
    font-family: 'Barlow', sans-serif;
    color: var(--dkgrayblue);
    margin: 0 auto;
    height: 100vh;
    overflow: hidden;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

/* BACKGROUND SHAPE */
body::before {
    content: "";
    display: block;
    position: absolute;
    background: var(--ltgrayblue);
    border-radius: 0 0 0 50px;
    width: 50%;
    height: 50%;
    top: 0;
    right: 0;
    z-index: -1;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 150px;
    /* max-width: 1200px; */
    margin: 0 auto;
}

header .logo {
    width: 50%;
    max-width: 600px;
    margin: 0 20px 0 auto;
    padding-left: 20px;
    border: 1px solid orange;
}

header img {
    max-height: 32px;
    max-width: 32px;
    /* padding-left: 20px; */
}

/* NAVIGATION */
header nav {
    width: 50%;
    border: 1px solid red;
}
nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 0;
}

nav ul li {
    list-style-type: none;
    display: flex;
    align-items: center;
}

nav ul li a {
    font-family: 'Barlow Condensed', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--vdkblue);
    font-weight: 700;
    margin: 0 5px;
}

nav ul li a:hover {
    text-decoration: underline;
}

nav ul li:last-child a {
    color: var(--grayblue);
}

nav ul li:last-child a:hover {
    color: var(--dkgrayblue);
}

/* MAIN */
main {
    display: flex;
    flex-flow: row-reverse nowrap;
    justify-content: space-between;
    align-items: center;
}

.image,
.wrapper {
    width: 50%;
    overflow: hidden;
}

.image img {
    width: 138%;
    overflow: hidden;
    position: relative;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 20px 0 auto;
    padding-left: 20px;
    max-width: 600px;
}

.wrapper h3 span {
    background: var(--vdkblue);
    padding: 0 10px 2px;
    border-radius: 15px;
    color: white;
    letter-spacing: 1px;
}

h3 {
    color: var(--grayblue);
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 400;
    letter-spacing: 5px;
}

h1 {
    text-transform: uppercase;
    font-size: 4.5rem;
    margin: 0;
}

.wrapper p {
    font-size: 1.3rem;
    width: 50%;
}

.cta {
    display: flex;
}

.cta button {
    background: var(--red);
    border: none;
    border-radius: 5px;
    color: white;
    text-transform: uppercase;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1.1rem;
    letter-spacing: 1px;
    line-height: 2.5;
    padding: 0 30px;
    margin-right: 20px;
    align-self: center;
}

.cta button:hover {
    background: var(--redhover);
    cursor: pointer;
}

.cta h3 {
    font-size: 1.2rem;
}

/* FOOTER */
.attribution { 
    font-size: 12px; 
    text-align: center; 
    color: var(--dkgrayblue);
}

.attribution a { 
    color: var(--vdkblue); 
}

/* MEDIA QUERY */